{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}!</h1>

        {% else %}
            <h1>Rango says... hello world!</h1>
            
            {% endif %}
		<h3>Top 5 Categories</h3>
        {% if categories %}
            <ul>
                 {% for category in categories %}
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
            {% endif %}
		
		<h3>Top 5 Pages</h3>	
		{% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
                {% endif %}
{% endblock %}
<!-- 
Previous code
<!DOCTYPE html>
<html>

{% load staticfiles %}

	<head>
		<title>Rango</title>
	</head>
	
	<body>
		<h1>Rango says...</h1>
		hello world! <strong>{{ boldmessage }}</strong><br />
		<a href="/rango/about">About</a><br />
		<img src="{% static "images/bitim.jpg" %}" alt="Picture of bitim" /> the alt is the alternative
	</body>
	
</html>

 -->